<% if signed_in? %>
      <section>
        <%= render 'layouts/contents' %>
      </section>
      <div class="center_button">
        <%= link_to "投稿する", post_path, class: 'btn btn-lg btn-primary'%>
      </div>
      <section>
        <%= render 'microposts/microposts_timeline' %>
      </section>
<% else %>
      <section>
        <%= render 'layouts/contents' %>
      </section>
      
    <div class="center_button">
    <a href = "/users/auth/twitter" class="fl_tw2">
  <i class="fab fa-twitter"></i> <span> Twitterでログイン</span>
    </a>
    </div>
    <h3>ログインすると投稿やコメントができるようになります</h3>

      <section>
        <%= render 'microposts/microposts_all' %>
      </section>
<% end %>