<%= form_for(@micropost2) do |f| %>
  <%= render 'devise/shared/error_messages', object: f.object %>
  <div class="form-group">
   <%= f.label :サークル名 %>
   <%= f.text_field :circle%>
  </div>

  <div class="form-group">
   <%= f.label :本文 %>
   <%= f.text_area :comment2, placeholder: "コメントを書き込んでください" %>
  </div>
  
    <div class="form-group">
   <%= f.label :活動時間帯 %>
　 <%= f.select :timezone, [["未選択", "募集"], ["攻略", "攻略"], ["その他", "その他"]] %>
　</div>

  <div class="form-group">
   <label for="timez">活動時間帯</label>
   <select multiple class="form-control" id="timez">
    <option value="open">未選択</option> 
    <option>朝　(5 ～ 11)</option>
    <option>昼　(11 ～ 16)</option> 
    <option>夕　(16 ～ 19)</option>
    <option>夜　(19 ～ 24)</option>
    <option>夜　(24 ～ 5)</option>
   </select>
  </div>
  
    <div class="form-group">
   <label for="condition">サークル受付状態</label>
   <select class="form-control" id="condition">
    <option value="open">未選択</option> 
    <option>受付中</option>
    <option>停止中</option> 
   </select>
  </div>

  <%= f.submit "Post", class: "btn btn-lg btn-primary" %>
<% end %>