<%= form_for(@micropost) do |f| %>
  <%= render 'devise/shared/error_messages', object: f.object %>
  <div class="form-group">
   <%= f.label :タイトル %>
   <%= f.text_field :theme %>
  </div>
   
  <div class="form-group">
  <label for="comment">ユーザー名:</label>
  <input type="text" class="form-control" id="comment">
</div>

  
  <div class="form-group">
   <%= f.label :カテゴリー %>
　 <%= f.select :category, [["募集", "募集"], ["攻略", "攻略"], ["その他", "その他"]], {}, {class:"form-group"} %>
　</div>

  <%= f.submit "投稿する", class: "btn btn-lg btn-primary" %>
<% end %>