<%= form_for(@micropost) do |f| %>
  <%= render 'devise/shared/error_messages', object: f.object %>
  <div class="form-group">
   <%= f.label :タイトル %>
   <%= f.text_field :title,%>
  </div>
   
  <div class="form-group">
   <%= f.label :本文 %>
   <%= f.text_area :comment, placeholder: "コメントを書き込んでください" %>
  </div>
  
  <div class="form-group">
   <%= f.label :カテゴリー %>
　 <%= f.select :category, [["募集", "募集"], ["攻略", "攻略"], ["その他", "その他"]] %>
　</div>

  <%= f.submit "投稿する", class: "btn btn-lg btn-primary" %>
<% end %>