
 <div class="information">最新情報</div>
 
<% @captures.each do |micropost|%>
<div class="post_frame">
<div class="post_theme"><%= micropost.theme%></div>
<div class="image_circle"><%= gravatar_for(User.find(micropost.user_id)) %></div>
<div class="post_tweet"><%= micropost.tweet%></div>
</div>
<%= micropost.category%>
<%= link_to "More info", micropost_url(micropost.id)%>
<% end%>
</div>
</div>



 </div>
 <div class="col-xs-3 sample1">
  <%= gravatar_for(User.find(Micropost.first.user_id)) %>
  <h1><%= Micropost.first.theme %></h1>
  <p><%= Micropost.first.tweet %></p>
  
   
   
    
    
  </div>
 <div class="col-xs-3 sample1">
    
  </div>
  <div class="col-xs-4">
    
  </div>
</div>


