
<div class="row">
<div class="information">情報一覧</div>
<% @microposts.each do |micropost|%>
    <div class="post_frame"><%=link_to micropost_url(micropost.id), class:"underline-none" do %>
    <div class="post_theme"><%= micropost.theme%></div>
    <div class="post_icon image_circle"><%= gravatar_for(User.find(micropost.user_id)) %></div>
    <div class="post_name"><%= micropost.user.name%></div>
    <div class="post_tweet"><p><%= simple_format(h micropost.tweet.truncate(7))%></p></div>
    <div class="post_time"><%= micropost.created_at.to_date%></div>
    <div class="post_details"><%= Comment.where(micropost_id: micropost.id).count %></div>
    </div>
    <% end %>
<% end %>
</div>

<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label "フリーワード検索(タイトル)" %>
    <%= f.text_field :theme_cont, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "フリーワード検索(本文)" %>
    <%= f.text_field :tweet_cont, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label "カテゴリー検索" %>
    <%= f.collection_select(:category_eq, Category.all, :name, :name, include_blank: true, class: "form-control") %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>