<p id="notice"><%= notice %></p>
<div class="details_theme"><%= @micropost.theme %></div>

 <%= image_tag @user.icon,:class => "details_icon"%>

    <div class="details_name"><%= @user.name %></div>

    <div class="details_tweet"><%= simple_format(h @micropost.tweet) %></div>

    <div class="details_time"><%= @micropost.created_at.to_datetime %></div>

    <div class="details_line"></div>

 <div class="comment_infomation">コメント（<%= @comment.count %>）</div>
 <% @comment.each do |comment| %>
    
  　<%= image_tag User.find(comment.user_id).icon,:class => "comment_icon" %>
  　
  　<div class="comment_summary">
     <div class="comment_name"><%= User.find(comment.user_id).name %></div>
     
     <div class="comment_time"><%= comment.created_at.to_datetime %></div>
     
     <div class="comment_body"><%= simple_format(h comment.body) %></div>
    </div>
  <% end %>

　<%= image_tag current_user.icon,:class => "comment_icon" %>
  <%= form_for ([@micropost, @micropost.comments.build]) do |f| %>

  <p><div class="comment_area">
    <%= f.text_area :body, placeholder: "コメントを書き込んでください", :class => "add_comment"%>
    <%= f.hidden_field :micropost_id %>
  </div></p>
  <p>
    <%= f.submit "コメントする", class: 'btn btn-warning', :size => "30x10" %>
  </p>
<% end %>

    
<%= link_to 'Back', root_path %>